tests/api/pipelines/snapshots/Enrichment_TwelveLabs_Pegasus_Bedrock_Video_Enrichment_with_Splitter_snapshot.json
{
  "Comment": "State machine for pipeline TwelveLabs Pegasus Bedrock Video Enrichment with Splitter",
  "StartAt": "Video_Splitter_split__dndnode_1_",
  "States": {
    "Map_map__dndnode_2_": {
      "ItemsPath": "$.payload.data",
      "Iterator": {
        "StartAt": "PassState",
        "States": {
          "PassState": {
            "End": true,
            "Type": "Pass"
          }
        }
      },
      "MaxConcurrency": 1,
      "Next": "Success__dndnode_4_",
      "Parameters": {
        "item.$": "$$.Map.Item.Value"
      },
      "ResultPath": null,
      "Retry": [
        {
          "BackoffRate": 2.0,
          "ErrorEquals": [
            "MediaConvert.ThrottlingException",
            "MediaConvert.TooManyRequestsException",
            "MediaConvertEndpointThrottlingError"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 8
        },
        {
          "BackoffRate": 2.0,
          "ErrorEquals": ["Lambda.TooManyRequestsException"],
          "IntervalSeconds": 1,
          "MaxAttempts": 5
        },
        {
          "BackoffRate": 2.0,
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "MaxAttempts": 5
        }
      ],
      "Type": "Map"
    },
    "Success__dndnode_4_": {
      "Type": "Succeed"
    },
    "Video_Splitter_split__dndnode_1_": {
      "Next": "Map_map__dndnode_2_",
      "Result": {
        "message": "No Lambda function for video_splitter"
      },
      "Type": "Pass"
    }
  }
}
