tests/api/pipelines/snapshots/Semantic_Search_TwelveLabs_Bedrock_S3_Vectors_TwelveLabs_Bedrock_Video_Embedding_to_S3_Vectors_snapshot.json
{
  "Comment": "State machine for pipeline TwelveLabs Bedrock Video Embedding to S3 Vectors",
  "StartAt": "TwelveLabs_Bedrock_Invoke_invoke__dndnode_14_",
  "States": {
    "Choice__dndnode_10_": {
      "Choices": [
        {
          "Next": "TwelveLabs_Bedrock_Results__dndnode_16_",
          "StringEquals": "Completed",
          "Variable": "$.metadata.externalJobStatus"
        },
        {
          "Next": "Fail_fail__dndnode_11_",
          "StringEquals": "Failed",
          "Variable": "$.metadata.externalJobStatus"
        }
      ],
      "Default": "Wait_wait__dndnode_5_",
      "Type": "Choice"
    },
    "Fail_fail__dndnode_11_": {
      "Cause": "Flow step failed",
      "Error": "FlowFailure",
      "Type": "Fail"
    },
    "Map_map__dndnode_7_": {
      "ItemReader": {
        "Parameters": {
          "Bucket.$": "$.metadata.distributedMapConfig.s3_bucket",
          "Key.$": "$.metadata.distributedMapConfig.s3_key"
        },
        "ReaderConfig": {
          "InputType": "JSON"
        },
        "Resource": "arn:aws:states:::s3:getObject"
      },
      "ItemSelector": {
        "item.$": "$$.Map.Item.Value",
        "metadata.$": "$.metadata"
      },
      "Iterator": {
        "ProcessorConfig": {
          "ExecutionType": "STANDARD",
          "Mode": "DISTRIBUTED"
        },
        "StartAt": "PassState",
        "States": {
          "PassState": {
            "End": true,
            "Type": "Pass"
          }
        }
      },
      "MaxConcurrency": 40,
      "Next": "Success__dndnode_8_",
      "ResultPath": null,
      "Retry": [
        {
          "BackoffRate": 2.0,
          "ErrorEquals": [
            "MediaConvert.ThrottlingException",
            "MediaConvert.TooManyRequestsException",
            "MediaConvertEndpointThrottlingError"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 8
        },
        {
          "BackoffRate": 2.0,
          "ErrorEquals": ["Lambda.TooManyRequestsException"],
          "IntervalSeconds": 1,
          "MaxAttempts": 5
        },
        {
          "BackoffRate": 2.0,
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "MaxAttempts": 5
        }
      ],
      "Type": "Map"
    },
    "Success__dndnode_8_": {
      "Type": "Succeed"
    },
    "TwelveLabs_Bedrock_Invoke_invoke__dndnode_14_": {
      "Next": "TwelveLabs_Bedrock_Status__dndnode_15_",
      "Result": {
        "message": "No Lambda function for twelvelabs_bedrock_invoke"
      },
      "Type": "Pass"
    },
    "TwelveLabs_Bedrock_Results__dndnode_16_": {
      "Next": "Map_map__dndnode_7_",
      "Result": {
        "message": "No Lambda function for twelvelabs_bedrock_results"
      },
      "Type": "Pass"
    },
    "TwelveLabs_Bedrock_Status__dndnode_15_": {
      "Next": "Choice__dndnode_10_",
      "Result": {
        "message": "No Lambda function for twelvelabs_bedrock_status"
      },
      "Type": "Pass"
    },
    "Wait_wait__dndnode_5_": {
      "Next": "TwelveLabs_Bedrock_Status__dndnode_15_",
      "Seconds": 15,
      "Type": "Wait"
    }
  }
}
